<html>
<head><title>{{title}}</title></head>
<body>
{{#result}}
    <h1>Response is</h1>
    {{contentString}}
    <h1>Statuscode was</h1>
    {{statusCode}}
{{/result}}
<table>
    <h1>Logging</h1>
    <tr>
        <th>Time</th>
        <th>Logging Level</th>
        <th>Log Message</th>
    </tr>
    {{#logging}}
        <tr>
            <td>{{time}}</td>
            <td>{{level}}</td>
            <td>{{message}}</td>
        </tr>
    {{/logging}}
</table>
</body>
</html>