<!DOCTYPE html>
<html>
   <head>
      <title>
         PACT Demo Post Service Call
      </title>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-resource.min.js"></script>
		
      <script type="text/javascript">
         
		 var app = angular.module('pactDemoApp', []);
		 
         app.controller('pactDemoCtrl', function ($scope, $http) {
		 
			 $scope.id = null;
			 $scope.token = null;
			 $scope.lblMsg = null;
			 url = 'http://localhost:9090/token/post/process';
			 
			 $scope.postdata = function (id, token) {
				var data = {
					 id: id,
					 token: token
				 };
				 
				 //Call the services
				 $http.post(url,JSON.stringify(data))
					.then(function (response) {
						
							if (response.data) {
								$scope.msg = response.data
								$scope.statusval = response.status;
								$scope.statustext = response.statusText;
								$scope.headers = response.headers();
							}
								
						}, function (response) {
						
						 $scope.msg = response.data;
						 $scope.statusval = response.status;
						 $scope.statustext = response.statusText;
						 $scope.headers = response.headers();
				 });
			 };
         });
      </script>
   </head>
   <body>
      <div ng-app="pactDemoApp" ng-controller="pactDemoCtrl">
		   <table>
			  <tr>
				 <td>ID</td>
				 <td>:</td>
				 <td><input ng-model="id" /></td>
			  </tr>
			  <tr>
				 <td>Token</td>
				 <td>:</td>
				 <td><input ng-model="token" /></td>
			  </tr>
			  <tr>
				 <td colspan="3"><input type="button" value="Send" ng-click="postdata(id, token)" /> </td>
			  </tr>
		   </table>
		   <br/>
		   <table>
			  <tr>
				 <td>Output Message</td>
				 <td>:</td>
				 <td>{{msg}}</td>
			  </tr>
			  <tr>
				 <td>StatusCode</td>
				 <td>:</td>
				 <td>{{statusval}}</td>
			  </tr>
			  <tr>
				 <td>Status</td>
				 <td>:</td>
				 <td>{{statustext}}</td>
			  </tr>
			  <tr>
				 <td>Response Headers</td>
				 <td>:</td>
				 <td>{{headers}}</td>
			  </tr>
		   </table>
		</div>
   </body>
</html>