<html>
<head><title>{{title}}</title></head>
<body>

<h1>Status Of dependent microservices</h1>
<table>
    <tr>
        <th>Host</th>
        <th>Url</th>
        <th>Result</th>
    </tr>
    {{#status}}
        <tr>
            <td>{{host}}</td>
            <td>{{url}}</td>
            <td>{{statusCode}}{{exception}}{{exceptionMsg}}</td>
        </tr>
    {{/status}}
    {{^status}}
        <tr>
            <td colspan="3">No Dependant Microservices</td>
        </tr>

    {{/status}}
</table>
</body>
</html>